@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

section.hero{
  @apply grid;
  grid-template-columns: .4fr .6fr;
}

div.loading {
  height: 70vh;
}

input[type="email"], 
input[type="password"], 
input[type="text"],
input[type="tel"]{
  @apply block w-full mb-2 rounded-lg  focus:border-blue-400;
  @apply border p-2 border-gray-400 bg-gray-200;
}

textarea:focus, 
input:focus{ 
 
  outline-color: #e2953e;
}

input[type="email"]:disabled,
input[type="password"]:disabled, 
input[type="text"]:disabled,
input[type="tel"]:disabled{
  @apply bg-gray-200 cursor-not-allowed border-none text-gray-500;

}
label{
  @apply text-gray-600 font-semibold text-sm ;
}
label + input{
  margin-top: -2px
}

button, .buttonCustom{
  @apply block w-full  font-bold border border-gray-400;
  @apply my-2 py-2 px-4 border-gray-400 rounded-lg hover:scale-105	transition-all duration-500;
}

button[type="submit"], .submit{
  @apply border-customColorBT bg-customColorBT text-gray-800;
}

button[type="submit"]:disabled, .submit:disabled{
  @apply bg-customColorPrimaryLight cursor-not-allowed;
}

div.tabs > * {
  @apply inline-block bg-customColorPrimaryLight text-gray-700 font-bold py-2 px-4  hover:scale-105	transition-all rounded-full;

}

div.tabs > *.active{
  @apply bg-customColorPrimary text-white;
}